@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Spots";
}
<h1>Spots</h1>

@section Scripts{
    <script>

        const searchData = {
            "categoryId": 0,
            "keyword": "北投",
            "page": 1,
            "pageSize": 9,
            "sortType": "asc",
            "sortBy": ""
        };

        //根據searchData的條件,讀取景點資料

        const loadSpots = async() => {
            const response =await fetch('@Url.Content("~/api/spots")', {
                method: 'POST',
                body: JSON.stringify(searchData),
                headers: {
                    'Content-Type': 'application/json'
                }
            });

            const datas = await response.json();
            console.log(datas); 
        }
        //載入景點
        loadSpots();
    </script>
}
