@model _0122.Models.ViewModels.MemberVm

@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>

<h4>MemberVm</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-2">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-2">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-2">
                <label asp-for="Age" class="form-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="mb-2">
                <label for="userAvatar" class="custom-file-label">頭像:</label>
                <input type="file" class="coustom-file-input" id="userAvatar" name="avatar" />
            </div>
            <div class="mb-2">
        <button id="sentBtn" type="button" value="註冊" class="btn btn-primary">送出</button>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>

    </script>
}
